<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ria and Kevin - Are getting married.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <header>
            <h1 class="ir">Ria and Kevin's Wedding</h1>

            <nav class="clearfix">
                <ul>
                    <li class="home-link">
                        <a href="/getting-married/">Home</a>
                    </li>
                    <li class="join-us-link">
                        <a href="/getting-married/join-us/">Join Us</a>
                    </li>
                    <li class="shindig-link">
                        <a href="/getting-married/the-shindig/">The Shindig</a>
                    </li>
                    <li class="venue-link">
                        <a href="/getting-married/venue/">Venue</a>
                    </li>
                    <li class = "accommodation-link">
                        <a href="/getting-married/accommodation/">Accommodation</a>
                    </li>
<!--                     <li>
                        <a href="/getting-married/costume/">Costume</a>
                    </li>
                    <li>
                        <a href="/getting-married/photography/">Photography</a>
                    </li>
                    <li>
                        <a href="/getting-married/gifts/">Gifts</a>
                    </li>
                    <li>
                        <a href="/getting-married/contact/">Contact</a>
                    </li> -->
                </ul>
            </nav>
        </header>
        <main>