{{> templates/includes/header }}

<h1>Costume</h1>

<p>The most important part of our day is that we celebrate it with the ones we love. To make sure everyone is comfortable, including us, we'd like everyone to know that there is <em>no dress code</em>. Please feel free to come smart, casual, as your favourite superhero or clad in battle armour. The only attire not allowed is that of mimes of clowns; evil buggers.</p>

{{> templates/includes/footer }}