{{> templates/includes/header }}

<p>That's no train arch&hellip; it's the venue!</p>

<p>The shindig will be held in London. Here's everything you need to know to find the base of the operations.</p>

<h2>Address and Contact Details</h2>

<address>
    <div>Hoxton Arches</div>
    <div>Arch 402 Cremer Street</div>
    <div>London</div>
    <div>E2 8HD</div>
    <div>020 3051 5087</div>
    <div>
        <a href="https://maps.google.co.uk/maps?q=hoxton+arches,+cremer+street&hl=en&sll=51.528642,-0.101599&sspn=1.190126,0.848694&hq=arches,+cremer+street&hnear=Hoxton&t=m&z=17&iwloc=A">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.53063419999999,-0.07616310&zoom=13&size=300x300&maptype=roadmap&markers=color:red%8Clabel:S%7C51.53063419999999,-0.07616310&sensor=false&scale=2&visual_refresh=true" />
        </a>
    </div>
</address>

<p>
    The closest spaceports to the venue are:
    <ul class="stations">
        <li>
            <p>
                <a href="https://maps.google.co.uk/maps?saddr=hoxton+station&daddr=Arch+402+Gallery,+Unit+2,+37+Cremer+Street,+London,+Greater+London+E2+8HD&hl=en&sll=51.53088,-0.075917&sspn=0.007796,0.019398&geocode=FTxMEgMdH9j-_ykZbDutvhx2SDHzOauWRHu7hQ%3BFTJLEgMdbNf-_ykPIbNVuRx2SDH5bPqTax4EsA&dirflg=w&mra=ls&t=m&z=19">
                    Hoxton Overground Station [0.02mi]
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.53063419999999,-0.07616310&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7C51.53063419999999,-0.07616310&markers=color:yellow%7C51.53151159999999,-0.07565490&sensor=false&scale=2&visual_refresh=true" />
                </a>
            </p>
        </li>
        <li>
            <p>
                <a href="https://maps.google.co.uk/maps?saddr=Old+street+station&daddr=Arch+402+Gallery,+Unit+2,+37+Cremer+Street,+London,+Greater+London+E2+8HD&hl=en&sll=51.52829,-0.081861&sspn=0.007796,0.019398&geocode=FeQ4EgMdRKn-_ymfmAj8pRx2SDGOaDkQRnUs3w%3BFTJLEgMdbNf-_ykPIbNVuRx2SDH5bPqTax4EsA&dirflg=w&mra=ls&t=m&z=16">
                    Old Street Station [0.8mi]
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.53063419999999,-0.07616310&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7C51.53063419999999,-0.07616310&markers=color:yellow%7C51.52583180,-0.08850890&sensor=false&scale=2&visual_refresh=true" />
                </a>
            </p>
        </li>
        <li>
            <p>
                <a href="https://maps.google.co.uk/maps?saddr=shoreditch+hight+street+station&daddr=Arch+402+Gallery,+Unit+2,+37+Cremer+Street,+London,+Greater+London+E2+8HD&hl=en&ll=51.527035,-0.076647&spn=0.007796,0.019398&sll=51.528294,-0.081864&sspn=0.007796,0.019398&geocode=FS8vEgMdLNr-_ynTRX4jtxx2SDGwucP11mgugw%3BFTJLEgMdbNf-_ykPIbNVuRx2SDH5bPqTax4EsA&dirflg=w&mra=ls&t=m&z=16">
                    Shoreditch High Street Station [0.6mi]
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.53063419999999,-0.07616310&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7C51.53063419999999,-0.07616310&markers=color:yellow%7C51.52337510,-0.07521960&sensor=false&scale=2&visual_refresh=true" />
                </a>
            </p>
        </li>
        <li>
            <p>
                <a href="https://maps.google.co.uk/maps?saddr=liverpool+street+station&daddr=Arch+402+Gallery,+Unit+2,+37+Cremer+Street,+London,+Greater+London+E2+8HD&hl=en&sll=51.527035,-0.076647&sspn=0.007796,0.019398&geocode=FboXEgMdKLv-_yGPscD6_DEQeyknWOh2rRx2SDGPscD6_DEQew%3BFTJLEgMdbNf-_ykPIbNVuRx2SDH5bPqTax4EsA&dirflg=w&mra=ls&t=m&z=15">
                    Liverpool Street Station [1.0mi]
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.53063419999999,-0.07616310&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7C51.53063419999999,-0.07616310&markers=color:yellow%7C51.5173360,-0.08296600000000001&sensor=false&scale=2&visual_refresh=true" />
                </a>
            </p>
        </li>
    </ul>
</p>

<p>
    There are also regular passenger shuttles with stops close to the venue:
    <ul>
        <li>55, 26 - Hoxton Stop via Hackney Road</li>
        <li>49, 242, 243 - Hoxton Station/Geffrye Museum via Kingsland Road</li>
    </ul>
</p>

{{> templates/includes/footer }}
