{{> templates/includes/header }}
<main>
    <h1>Yep, we're getting married...</h1>

    <p>By booting up your terminal and logging on to this information repository you should be able to find everything you need to help us celebrate our marriage by navigating through the archives.</p>

    <p>
        We would be delighted if you, our families and fellow Rebel Alliance cohorts could join us on <strong><time>Saturday 16 November 2013</time></strong> to (choose your own adventure):
        <ol>
            <li>in our union to create the ultimate zombie fighting team</li>
            <li>to help celebrate the greatest friendship since Han Solo and Chewbacca (you can decide who is who)</li>
            <li>to commemorate the most kick-ass union since Buffy and slaying</li>
        </ol>
    </p>

    <h2>That's no train arch&hellip; it's the venue!</h2>

    <p>The shindig will be held in London. Here's everything you need to know to find the base of the operations.</p>

    <h3>Address and contact details</h3>

    <address>
        <div>Hoxton Arches</div>
        <div>Arch 402 Cremer Street</div>
        <div>London</div>
        <div>E2 8HD</div>
        <div>020 3051 5087</div>
    </address>

    <p>
        The closest spaceports to the venue are:
        <ul>
            <li>Hoxton Overground Station [0.02mi]</li>
            <li>Old Street Station [0.8mi]</li>
            <li>Shoreditch High Street Station [0.6mi]</li>
            <li>Liverpool Street Station [1.0mi]</li>
        </ul>
    </p>

    <p>
        There are also regular passenger shuttles with stops close to the venue:
        <ul>
            <li>55, 26 - Hoxton Stop via Hackney Road</li>
            <li>49, 242, 243 - Hoxton Station/Geffrye Museum via Kingsland Road</li>
        </ul>
    </p>

    <h2>Accommodation</h2>

    <p>
        There are many hotels in the area if you choose to stay overnight. Please see below for some suggestions. Please click each hotel for further information.
        <ul>
            <li><a href="http://www.ichotelsgroup.com/crowneplaza/hotels/gb/en/london/lonsd/hoteldetail/">Crowne Plaza Shoredtich</a> (0.46km)</li>
            <li><a href="http://www.hoxtonhotels.com">The Hoxton</a></li>
            <li><a href="http://www.premierinn.com/en/hotel/LONOLD/london-city-old-street">Premier Inn Old Street</a></li>
            <li><a href="http://wwww.travelodge.co.uk/hotels/340/London-Central-City-Road-prev-Moorgate-hotel">Travel Lodge Central City</a></li>
            <li><a href="http://townhallhotel.com/home">Town Hall Hotel</a></li>
            <li><a href="http://www.theboundary.co.uk">The Boundry</a></li>
        </ul>
    </p>

    <h2>Costume</h2>

    <p>The most important part of our day is that we celebrate it with the ones we love. To make sure everyone is comfortable, including us, we'd like everyone to know that there is <em>no dress code</em>. Please feel free to come smart, casual, as your favourite superhero or clad in battle armour. The only attire not allowed is that of mimes of clowns; evil buggers.</p>

    <h2>Photography</h2>

    <p>Instead of having an official photographer we are asking all of our lovely friends and family to take as many photos as desier on one of your numerous personal devices. If you would like to share them publicly please feel free to upload them or email them directly to us at <a href="mailto:kevinandria@gmail.com">kevinandria@gmail.com</a>.</p>

    <h2>Gifts</h2>

    <p>As we are lucky to already have our headquarters up and running we have decided not to request wedding gifts. However, if you would like to mark the occasion with a gift we would very much appreciate a small contribution towards building our very own DeathStar. If you would like to contribute we will have an area for anonymous donations and cards on the day.</p>

    <p>More than anything we hope that you can make it on the day so please do not feel obliged to give in any way.</p>

    <p>Unless it is a kitten. All kittens will be appreciated. Especially ginger ones.</p>

    <h2>Contact</h2>

    <p>If you require any further information please contact Ria via email <a href="mailto:carroll.ria@gmail.com">carroll.ria@gmail.com</a> or on 07708295830</p>

</main>
{{> templates/includes/footer }}
