{{> templates/includes/header }}

    <p>
        By booting up your terminal and logging on to this information repository you should be able to find everything you need to help us celebrate our marriage by navigating through the archives.
    </p>

    <p>
        We would be delighted if our fellow Rebel Alliance cohorts could join us on <strong><time>Saturday 16 November 2013</time></strong> to (choose your own adventure):
    </p>

    <ol>
        <li>raise hell as we fight to create the ultimate zombie fighting team</li>
        <li>celebrate the greatest friendship since Han Solo and Chewbacca (you can decide who is who)</li>
        <li>celebrate the most kick-ass union since Buffy and slaying</li>
    </ol>

{{> templates/includes/footer }}
