{{> templates/includes/header }}
    <h1>Yep, we're getting married...</h1>

    <p>By booting up your terminal and logging on to this information repository you should be able to find everything you need to help us celebrate our marriage by navigating through the archives.</p>

    <p>
        We would be delighted if you, our families and fellow Rebel Alliance cohorts could join us on <strong><time>Saturday 16 November 2013</time></strong> to (choose your own adventure):
    </p>

    <ol>
        <li>in our union to create the ultimate zombie fighting team</li>
        <li>to help celebrate the greatest friendship since Han Solo and Chewbacca (you can decide who is who)</li>
        <li>to commemorate the most kick-ass union since Buffy and slaying</li>
    </ol>

{{> templates/includes/footer }}
