{{> templates/includes/header }}

<h1>Getting There</h1>

<p>That's no train arch&hellip; it's the venue!</p>

<p>The shindig will be held in London. Here's everything you need to know to find the base of the operations.</p>

<h2>Address and contact details</h2>

<address>
    <div>Hoxton Arches</div>
    <div>Arch 402 Cremer Street</div>
    <div>London</div>
    <div>E2 8HD</div>
    <div>020 3051 5087</div>
</address>

<p>
    The closest spaceports to the venue are:
    <ul>
        <li>Hoxton Overground Station [0.02mi]</li>
        <li>Old Street Station [0.8mi]</li>
        <li>Shoreditch High Street Station [0.6mi]</li>
        <li>Liverpool Street Station [1.0mi]</li>
    </ul>
</p>

<p>
    There are also regular passenger shuttles with stops close to the venue:
    <ul>
        <li>55, 26 - Hoxton Stop via Hackney Road</li>
        <li>49, 242, 243 - Hoxton Station/Geffrye Museum via Kingsland Road</li>
    </ul>
</p>

{{> templates/includes/footer }}
