{{> templates/includes/header }}

<h1>Gifts</h1>

<p>As we are lucky to already have our headquarters up and running we have decided not to request wedding gifts. However, if you would like to mark the occasion with a gift we would very much appreciate a small contribution towards building our very own DeathStar. If you would like to contribute we will have an area for anonymous donations and cards on the day.</p>

<p>More than anything we hope that you can make it on the day so please do not feel obliged to give in any way.</p>

<p>Unless it is a kitten. All kittens will be appreciated. Especially ginger ones.</p>

{{> templates/includes/footer }}