{{> templates/includes/header }}

<h1>Gifts</h1>

<p>
    As we are lucky to already have our Death Star fully stocked we have decided not to request wedding gifts. However, if you would like to give us a gift we are saving towards a week of fun and frolics after the wedding. We will be relaxing in London for a few days before heading off for a few nights in a B&B.
</p>

<p>
    We have set up a dedicated contribution site so you can choose what you would like to help with. More than anything, we hope that you can make it on the day, but any contributions will, of course, be gratefully received.
</p>

<p>
    <a href="http://www.honeyfund.co.uk/wedding/kevinandria">Contribute</a>
</p>

{{> templates/includes/footer }}
