{{> templates/includes/header }}

<h1>Join us!</h1>
<p>Please RSVP your attendance for our happy-happy-joy-joy day by emailing us at kevinandria@gmail.com or calling Ria on 077089295830. Please include the names of all attendees, including sidekicks and padawans and any specific dietary requirements e.g. only blue milk.</p>

<p>Everyone is invited to both the service and reception but if you do think you might get trapped in a trash compactor, need to defeat a zombie horde or get delayed by the gorram Alliance and can only attend the reception, please let us now.</p>

{{> templates/includes/footer }}