{{> templates/includes/header }}

<p>
    Instead of having an official photographer we are asking all of our lovely friends and family to take as many photos on your numerous personal devices. If you would like to share them publicly we will have a place for you to upload them and a hashtag (for Twitter or Instagram) on the day or email them directly to us at <a href="mailto:{{ info_email }}">{{ info_email }}</a>.
</p>

<p>
    There will also be a Polaroid camera available. We would be extremely grateful if you could all take the opportunity to take a snap (of anything that you fancy), write a little note and leave it in the photo box provided.
</p>

{{> templates/includes/footer }}
