{{> templates/includes/header }}

<h1>Photography</h1>

<p>Instead of having an official photographer we are asking all of our lovely friends and family to take as many photos as desier on one of your numerous personal devices. If you would like to share them publicly please feel free to upload them or email them directly to us at <a href="mailto:kevinandria@gmail.com">kevinandria@gmail.com</a>.</p>

{{> templates/includes/footer }}