{{> templates/includes/header }}

<p>
    Please RSVP your attendance for our <a href="http://www.youtube.com/watch?v=ZkiSYmn74os">happy-happy-joy-joy</a> day by emailing us at <a href="mailto:{{ info_email }}">{{ info_email }}</a> or calling Ria on 07708 9295830. Please include the names of all attendees, including sidekicks and padawans along with any specific dietary requirements (pizza is not an adequate requirement).
</p>

<p>
    Everyone is invited to both the service and reception but if you do think you might get trapped in a trash compactor, need to defeat a zombie horde or get delayed by gorram Alliance and can only attend the reception, please let us know.
</p>

{{> templates/includes/footer }}
