{{> templates/includes/header }}

<h1>RSVP</h1>

<p>
    Please RSVP your attendance for our happy-happy-joy-joy day by emailing us at info@{{ first_person_name }}and{{ second_person_name }}.com or calling Ria on 07708 9295830. Please include the names of all attendees, including sidekicks and padawans along with any specific dietary requirements (pizza is not an adequate requirement).
</p>

<p>
    Everyone is invited to both the service and reception but if you do think you might get trapped in a trash compactor, need to defeat a zombie horde or get delayed by gorram Alliance and can only attend the reception, please let us know.
</p>

{{> templates/includes/footer }}
