{{> templates/includes/header }}

<h1>Accommodation</h1>

<p>
    There are many hotels in the area if you choose to stay overnight. Please see below for some suggestions.
    <ul>
        <li><a href="http://www.ichotelsgroup.com/crowneplaza/hotels/gb/en/london/lonsd/hoteldetail/">Crowne Plaza Shoredtich</a> (0.46km)</li>
        <li><a href="http://www.hoxtonhotels.com">The Hoxton</a></li>
        <li><a href="http://www.premierinn.com/en/hotel/LONOLD/london-city-old-street">Premier Inn Old Street</a></li>
        <li><a href="http://wwww.travelodge.co.uk/hotels/340/London-Central-City-Road-prev-Moorgate-hotel">Travel Lodge Central City</a></li>
        <li><a href="http://townhallhotel.com/home">Town Hall Hotel</a></li>
        <li><a href="http://www.theboundary.co.uk">The Boundry</a></li>
    </ul>
</p>

{{> templates/includes/footer }}