{{> templates/includes/header }}

<h1>The Day</h1>
<p>The blessing and reception will be held at the same venue. Please arrive at <strong><time>2.30pm</time></strong> (Standard Earth GMT) prompt for a quick Pan-Galactic Gargle Blaster before the ceremony.</p>

<p>The blessing will start at <strong><time>3pm</time></strong> and will be officiated by Grand Moff Dollar-Smirnoff (chosen purely because he has a kickass name). He will require the utmost respect and may demand to know the location of the sambuca. Under no circumstances must you reveal the location, even upon threat of the destruction of East London (although at least we'd be rid of most of the Earth's population of hipsters).</p>

<p>Food and drink will be provided throughout so please let us know any dietary requirements when you RSVP.</p>

<p>Once everyone's places are clean the games wil begin. Rock Band and various board games will be available to choose and play if you wish.</p>

{{> templates/includes/footer }}