{{> templates/includes/header }}

<p>
    The blessing and reception will be held at the same venue. Please arrive at 3pm (Standard Earth GMT) prompt for a quick Pan-Galactic Gargle Blaster before the ceremony.
</p>

<p>
    The blessing will start at 3.30pm and will be officiated by Grand Moff Dollar-Smirnoff. He will require the utmost respect and may demand to know the location of the sambuca. Under no circumstances must you reveal the location, even upon threat of the destruction of East London (although at least we'd be rid of most of the Earth's population of hipsters).
</p>

<p>
    After the ceremony and speeches; eat, drink and play will be the order of the day. Rock Band, Mario Kart and various boad games will be on hand for you to play. And if you fancy bringing your own games, please do feel free to do so.
</p>

<p>
    As we want everyone to be as comfortable as possible, please note that there is no dress code for the day. Please come as dressed up or down as you would like, just make sure you're ready to have some fun!
</p>

{{> templates/includes/footer }}
